@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
  font-weight: 300;
}

/* collection div css */

.product-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  gap: 20px;
  padding: 0 100px;
  max-width: 1500px;
}

.product-category .category-top {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.product-category .category-top .top-img {
  display: none;
}

.product-category .category-top .underline-text {
  border-bottom: 2px solid #c5b930;
  color: #c5b930;
  padding-bottom: 5px;
}

.product-category-body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

.product-category-body .col-one {
  width: 100%;
}

.product-category-body .col-one img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 9/16;
}

.product-card {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  align-items: start;
  gap: 20px;
  width: 100%;
}

.product-card .col {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.product-card .col .img-div img {
  width: clamp(150px, 100%, 230px);
  height: auto;
}

.product-card-sm-screen {
  display: none;
}

.product-card .text h5,
.product-card-sm-screen .text h5 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.product-card .main-price .price,
.product-card-sm-screen .main-price .price {
  font-size: 1.2rem;
  color: #c59b30;
  font-weight: bold;
}

.product-card .main-price .price-dash,
.product-card-sm-screen .main-price .price-dash {
  color: #c59b30;
}
.product-card .col .img-div,
.product-card-sm-screen .col .img-div {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.product-card .text .wishlist,
.product-card-sm-screen .text .wishlist {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 1rem;
  cursor: pointer;
}
.product-card .wishlist .wishlist-text:hover,
.product-card-sm-screen .wishlist .wishlist-text:hover {
  color: #c59b30;
}
.product-card .img-div .slide-div {
  position: absolute;
  bottom: 3px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: white;
  padding: 15px;
  font-size: 1rem;
  color: #c59b30;
  transition: 0.5s all;
  cursor: pointer;
}
.product-card .img-div .slide-div:hover,
.product-card-sm-screen .img-div .slide-div:hover {
  background-color: #c59b30;
  color: white;
}
.show-slide {
  transform: translateY(0);
}
.hide-slide {
  transform: translateY(100%);
}
.product-card .img-div .show-product,
.product-card-sm-screen .img-div .show-product {
  position: absolute;
  right: 15px;
  top: 15px;
  background: white;
  padding: 10px;
  border-radius: 50%;
  transition: 0.5s all;
}
.show-icon {
  transform: translateX(0);
}
.hide-icon {
  transform: translateX(150%);
}
.category-top .top-img {
  display: none;
}
.col .opt-div-sm-screen {
  background-color: #c59b30;
  color: white;
  display: none;
  justify-content: center;
  padding: 5px;
}
.opt-div-sm-screen span {
  font-weight: 500;
  font-size: 0.7rem;
  text-align: center;
}

@media (max-width: 735px) {
  .col .opt-div-sm-screen {
    display: flex;
  }

  .col .img-div .slide-div {
    display: none;
  }

  .product-card {
    display: none;
  }

  .product-card-sm-screen{
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    gap: 20px;
  }

  .product-card-sm-screen .col .img-div .product-img{
    width: 100%;
    height: auto;
  }

  .product-card-sm-screen .main-price .price{
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {
  .product-card-sm-screen{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1200px) {
  .product-category {
    padding: 0 20px;
    margin: 0;
  }

  .product-category .category-top {
    flex-direction: column;
    align-items: center;
  }

  .product-category .category-top .top-img {
    display: block;
    width: 100%;
  }

  .product-category-body {
    grid-template-columns: 1fr;
  }

  .product-category-body .col-one {
    display: none;
  }
}
