.cart-slide-overlay{
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: end;
  position: fixed;
  z-index: 999999;
  transition: 0.1s all;
}

.cart-slide{
  height: 100vh;
  width: 30%;
  background-color: white;
  padding: 15px;
  transition: 0.3s all;
}

.slide-top{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.slide-top span{
  font-weight: 500;
}

.cart-slide-overlay.overlay-show{
  visibility: visible;
}

.cart-slide-overlay.overlay-hide{
  visibility: hidden;
}

.cart-slide.slide-show{
  transform: translateX(0);
  visibility: visible;
}

.cart-slide.slide-hide{
  transform: translateX(100%);
  visibility: hidden;
}

.cart-slide-body{
  overflow-y: auto;
  height: 75%;
  width: 100%;
}

.cart-slide-bottom{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-slide-bottom button{
  padding: 10px;
  border-radius: 5px;
  outline: none;
  font-size: 1.1rem;
  font-weight: 500;
}

.cart-slide-bottom .view-cart{
  border: 1px solid silver;
}

.cart-slide-bottom .checkout{
  background-color: #c5aa30;
  border: 0;
  color: white;
}