.cart-slide-overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: end;
  position: fixed;
  z-index: 999999;
  transition: 0.1s all;
}

.cart-slide {
  height: 100vh;
  width: 30%;
  background-color: white;
  padding: 15px;
  transition: 0.3s all;
}

.slide-top {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.slide-top .slide-remove {
  cursor: pointer;
}

.slide-top span {
  font-weight: 500;
}

.cart-slide .line{
  margin-top: 10px;
}

.cart-slide-overlay.overlay-show {
  visibility: visible;
}

.cart-slide-overlay.overlay-hide {
  visibility: hidden;
}

.cart-slide.slide-show {
  transform: translateX(0);
  visibility: visible;
}

.cart-slide.slide-hide {
  transform: translateX(100%);
  visibility: hidden;
}

.cart-slide-body {
  overflow-y: auto;
  height: 75%;
  width: 100%;
  margin-top: 10px;
}

.cart-slide-bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-slide-bottom button {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  font-size: 1.1rem;
  font-weight: 500;
}

.cart-slide-bottom .view-cart {
  border: 1px solid silver;
  cursor: pointer;
}

.cart-slide-bottom .checkout {
  background-color: #c5aa30;
  border: 0;
  color: white;
  cursor: pointer;
  transition: 0.3s all;
}

.cart-slide-bottom .checkout:hover {
  background-color: #b1992e;
}

.cart-slide-bottom-shopping {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c5aa30;
  font-size: 1.2rem;
  cursor: pointer;
}

.cart-slide-bottom-shopping span {
  font-weight: 500;
}

@media (max-width: 550px) {
  .cart-slide {
    width: 90%;
  }

  .cart-slide-bottom-shopping {
    font-size: 1rem;
  }

  .cart-slide-bottom button{
    font-size: 0.8rem;
  }
}

@media (min-width: 551px) and (max-width: 1000px) {
  .cart-slide {
    width: 70%;
  }
}


@media (max-width: 376px) {
  .cart-slide-body{
    height: 75%;
  }
}