.checkout-page{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}

.checkout-page .left-div{
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgb(217, 217, 217);
  padding: 20px 30px 20px 100px;
}

.left-div img{
  width: clamp(130px, 100%, 150px);
  cursor: pointer;
}

.left-div .coupon{
  display: flex;
  gap: 5px;
  margin: 10px 0;
}

.left-div .coupon span{
  font-weight: 500;
}

.left-div .coupon span:nth-child(2){
  color: #c5b930;
  cursor: pointer;
}

.left-div .coupon-code-div{
  border: 0;
  background-color: rgb(234, 234, 234);
  border-radius: 5px;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s all;
}

.coupon-code-div p{
  margin-bottom: 5px;
}

.coupon-code-div input{
  border: 1px solid rgb(217, 217, 217);
  padding: 5px;
  width: 50%;
}

.coupon-code-div button{
  border: 0;
  background-color: #c5a530;
  color: white;
  font-weight: 500;
  padding: 10px 20px;
}

.coupon-code-div.show-coupon-div{
  max-height: 100px;
  padding: 10px;
  border: 1px solid rgb(217, 217, 217);
}

.left-div h4{
  color: black;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 10px 0;
}

.left-div form label{
  display: block;
}

.left-div form input{
  margin: 0 0 10px;
  font-size: 0.8rem;
  padding: 5px;
  width: 100%;
  outline: none;
}

.left-div form .star{
  color: red;
}

.left-div form .country{
  margin: 10px 0;
}

.state-dropdown{
  margin: 0 0 10px;
}

.state-dropdown .box{
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(217, 217, 217);
  padding: 5px;
  cursor: pointer;
}

.state-dropdown .dropdown{
  overflow-y: auto;
  max-height: 150px;
  border: 1px solid rgb(217, 217, 217);
  background-color: white;
}

.dropdown .top{
  padding: 5px 5px 0;
  background-color: white;
}


.dropdown p{
  padding: 5px;
  cursor: pointer;
}

.dropdown p:hover{
  background: rgb(57, 126, 195);
  color: white;
}

.left-div form .ship{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.ship #checkBox{
  width: fit-content;
}

.ship-info{
  overflow: hidden;
  max-height: 0;
  transition: 0.3s all;
}

.ship-info.show{
  max-height: 500px;
}

.ship-info.hide{
  max-height: 0;
}

.notes-div{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.notes-div textarea{
  padding: 10px;
  min-width: 100%;
  min-height: 200px;
}

.right-div{
  background-color: rgb(245, 245, 245);
  padding: 20px 100px 20px 30px;
}

.right-div h2{
  margin-bottom: 10px;
  font-weight: 500;
}

.right-div .items-div{
  border: 1px solid rgb(217, 217, 217);
}

.right-div .items-div .top-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgb(217, 217, 217);
}

.center-div{
  padding: 0 20px;
}

.center-div .items{
  border-bottom: 1px solid rgb(217, 217, 217);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center-div .items .div-one img{
  width: 50px;
}

.center-div .items .div-one{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.div-one .quantity{
  color: rgb(162, 162, 162);
}

.right-div .bottom-div{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-div .bottom-div .subtotal, .right-div .bottom-div .shipping, .right-div .bottom-div .total{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-div .silver-text{
  color: silver;
}

.bottom-div .bold{
  font-weight: 500;
}

.right-div .payment-options{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid rgb(217, 217, 217);
  padding: 10px;
}

.payment-options label{
  border-bottom: 1px solid rgb(217, 217, 217);
  padding-bottom: 10px;
  cursor: pointer;
}

.payment-options input{
  cursor: pointer;
}

.payment-options .nagad{
  border: 0;
}

.payment-div button{
  width: 100%;
  border: 0;
  background-color: #c5a530;
  color: white;
  padding: 10px;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.3s all;
}

.payment-div button:hover{
  background-color: #b5982e;
}

@media (max-width: 735px) {
  .checkout-page{
    display: flex;
    flex-direction: column;
  }

  .checkout-page .left-div, .checkout-page .right-div{
    padding: 30px 20px;
  }
}

@media (max-width: 1200px) {

  .checkout-page .left-div, .checkout-page .right-div{
    padding: 30px 20px;
  }
}