.wishlist-product {
  display: grid;
  grid-template-columns: repeat(6, minmax(150px, 1fr));
  gap: 20px;
}

.wishlist-product-card {
  border: 1px solid silver;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(150px, 100%, 260px);
}

.wishlist-product-card .img-div {
  display: flex;
  justify-content: center;
}

.wishlist-product-card .img-div img {
  width: clamp(150px, 100%, 260px);
}

.wishlist-product-card .product-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin: 10px 0;
}

.wishlist-product-card button {
  margin: 10px auto;
  padding: 10px;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  border: 0;
  border-radius: 5px;
  background-color: #c5aa30;
}

.wishlist-product-card .icon {
  font-size: 1.3rem;
  margin: 10px 0;
}

.empty-wishlist {
  margin: 300px auto 0;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

@media (max-width: 1200px) {
  .wishlist-product {
    padding: 80px 20px 30px;
  }
}

@media (min-width: 551px) and (max-width: 735px) {
  .wishlist-product {
    grid-template-columns: repeat(3, minmax(150px, 1fr));
  }
}

@media (max-width: 550px) {
  .wishlist-product {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
}

@media (min-width: 736px) and (max-width: 1280px) {
  .wishlist-product {
    grid-template-columns: repeat(4, minmax(150px, 1fr));
  }
}
