.banner{
  padding: 170px 100px;
  background-color: #f9f9f9;
}

.big-banner{
  margin-bottom: 20px;
}

.big-banner img{
  width: 100%;
  height: 100%;
}

.small-banner{
  display: flex;
  gap: 20px;
  width: 100%;
}

.small-banner img{
  width: 50%;
  height: 50%;
  overflow: hidden;
}

@media (max-width: 1200px) {

  .banner{
    padding: 50px 20px;
  }
  .big-banner{
    margin: 70px auto 10px;
  }
}