.pages .heading{
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  width: 100%;
  color: black;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  position: fixed;
  background-color: white;
}

.pages .heading .heading-center{
  font-size: 18px;
}

.pages .heading .heading-left, .pages .heading .heading-right{
  font-size: 23px;
}

.pages .heading .heading-right{
  position: relative;
}

.pages .heading-right .cart-circle{
  position: absolute;
  background: #c59b30;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  right: 0;
  top: 3px;
}

.top{
  display: flex;
  padding: 170px 100px 20px;
  margin-bottom: 10px;
  justify-content: space-between;
  background: rgb(238, 238, 238);
  color: black;
}

.top-left{
  display: flex;
  gap: 3px;
}

.div-1{
  display: flex;
  gap: 3px;
}

.div-1 .home-btn{
  text-decoration: none;
  color: #c59b30;
}

.home-btn-two{
  text-decoration: none;
  color: black;
}

.top-right{
  transition: color 0.3s;
}

.top-right:hover{
  color: #c59b30;
}


@media (max-width: 1200px) {

  .pages .top{
    padding: 80px 10px 20px;
  }

  .pages .heading{
    display: flex;
  }

  .pages .nav{
    display: none;
  }
}