.info{
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  background-color: #f9f9f9;
  margin: 20px 0 40px;
}

.delivery, .payment, .gift, .support{
  display: flex;
  align-items: center;
  gap: 10px;
}

.delivery-truck, .payment-card, .gift-box, .support-icon{
  font-size: 30px;
}

.delivery-txt h4, .payment-txt h4, .gift-txt h4, .support-txt h4{
  color: black;
  font-weight: 500;
}

.delivery-txt p, .payment-txt p, .gift-txt p, .support-txt p{
  color: rgb(153, 152, 152);
}