.navbar {
  position: relative;
}

.nav-overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  visibility: hidden;
  transition: visibility 0.3s all;
  z-index: 999;
}

.show-nav-overlay {
  visibility: visible;
}

.navbar-body {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px 100px 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo-div img {
  width: 180px;
}

.navbar .search-div {
  display: flex;
  align-items: center;
  position: relative;
}

.navbar .search-div .search-icon {
  font-size: 20px;
}

.navbar .search-div input {
  border: none;
  outline: none;
  padding: 10px 15px;
  font-size: 15px;
}

.navbar .others-div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar .others-div .nav-icons {
  font-size: 25px;
}

.navbar .line {
  height: 1px;
  width: 100%;
  background: silver;
  margin: 10px auto 20px;
}

.navbar .nav-opts {
  display: flex;
  justify-content: center;
}

.navbar .nav-opts .opts {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar .nav-opts .opts .list-opts {
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  position: relative;
  padding-bottom: 20px;
  cursor: pointer;
  transition: 0.3s all;
}

.navbar .nav-opts .opts .list-opts:hover {
  color: #c59b30;
}

.navbar .nav-opts .opts .list-opts::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #c59b30;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.navbar .nav-opts .opts .list-opts:hover::after {
  visibility: visible;
}

.navbar .nav-opts .opts .list-opts-disabled {
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  color: black;
  position: relative;
  padding-bottom: 20px;
  cursor: pointer;
  transition: 0.3s all;
}

.navbar .nav-opts .opts .list-opts-disabled::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #c59b30;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.navbar .nav-opts .opts .list-opts-disabled:hover::after {
  visibility: visible;
}

.others-div .wishlist,
.cart-icon-div {
  position: relative;
}

.others-div .wishlist .wishlist-count,
.cart .cart-icon-div .cart-count {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background-color: #c59b30;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
  color: white;
}

.navbar-body .nav-top .search-icon,
.navbar-body .nav-top .nav-icons,
.navbar-body .nav-top .logo-div,
.navbar-body .nav-top .others-div .wishlist,
.navbar-body .nav-top .others-div .cart {
  cursor: pointer;
}

.cart {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-overlay-sm-screen {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  visibility: hidden;
  transition: visibility 0.3s ease-in-out;
  z-index: 999;
}

.show-nav-overlay {
  visibility: visible;
}

.nav-opts-sm-screen {
  background-color: white;
  height: 100vh;
  width: 40%;
  padding: 20px 30px;
  font-size: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  display: none;
  position: absolute;
}

.show-nav-opts {
  transform: translateX(0);
}

.nav-opts-sm-screen ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-opts-sm-screen ul li {
  font-weight: 500;
}

.nav-opts-sm-screen ul .remove {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 400;
}

.navbar-body-sm-screen {
  display: none;
  flex-direction: column;
  width: 100%;
  padding: 10px 30px;
  background-color: white;
  position: fixed;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.nav-top-sm-screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav-top-sm-screen .nav-icons{
  font-size: 25px;
}

.nav-top-sm-screen .logo-div img {
  width: 100px;
}

.search-div-sm-screen input {
  width: 100%;
  padding: 10px 10px 10px 45px;
  font-size: 17px;
  border-radius: 5px;
  outline: none;
  border: 1px solid silver;
}

.search-icon-sm-screen {
  font-size: 20px;
  position: absolute;
  left: 40px;
  bottom: 22px;
}

.nav-opts .opts .btn-active {
  border-bottom: 2px solid #c59b30;
  color: #c59b30;
}

.nav-bottom-mobile .search-div{
  border: 1px solid silver;
  border-radius: 5px;
  padding: 0 5px;
}

@media (max-width: 1200px) {
  .navbar-body {
    display: none;
  }

  .navbar-body-sm-screen {
    display: flex;
  }

  .nav-overlay-sm-screen,
  .nav-opts-sm-screen {
    display: block;
  }
}

@media (max-width: 735px) {
  .nav-opts-sm-screen {
    width: 60%;
  }

  .bottom-nav {
    display: grid;
  }
}
