.search-dropdown .main-content {
  position: absolute;
  background-color: white;
  z-index: 99999;
  left: 0;
  top: 40px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 20px 10px 10px;
  transition: 0.3s all;
}

.search-dropdown .main-content.show {
  display: flex;
}

.search-dropdown .main-content.hide {
  display: none;
}

.search-dropdown .length {
  margin-bottom: 10px;
  color: rgb(131, 131, 131);
}

.search-dropdown .length .black {
  color: black;
  font-weight: 500;
}

.search-dropdown .main-content .suggestion-product {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.suggestion-product .img-div img {
  width: 50px;
}

.suggestion-product .info-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1rem;
  white-space: nowrap;
}

.search-dropdown .info-div h4 {
  color: black;
  font-weight: 500;
}

.search-dropdown .info-div .price {
  color: #c5b930;
  font-weight: 500;
}
